gris_oscuro= #292e2f 
gris_claro= #f1f1f1
gris_no_tan_oscuro=#444
azul = #2cb2bc

body
	font-family tahoma, arial, verdana, san-serif

.main_header
	background url(../imagenes/header-bg.png) gris_oscuro
	height 160px

	.logo 

		img
			height 60px
			left 80px
			position absolute
			top 42px
			width 80px

	h1
		color gris_claro
		font-size 22px
		left 180px
		position: absolute
		top 75px
		
		.news
			color gris_no_tan_oscuro

	.slogan
		color #fff
		font-size 14px
		font-weight bold