azul = #2cb2bc
gris_claro= #f1f1f1
gris_no_tan_oscuro=#444
gris_oscuro= #292e2f 

body
	font-family tahoma, arial, verdana, san-serif

.main_header
	background url(../imagenes/header-bg.png) gris_oscuro
	height 166px

	h1
		color gris_claro
		font-size 22px
		left 160px
		position absolute
		top 50px
		
		.news
			color gris_no_tan_oscuro

	.logo 
		float left
		width 80px

		img
			height 60px
			left 60px
			position absolute
			top 42px
			width 90px


	.slogan
		color #fff
		font-size 14px
		font-weight bold
		left -70px
		position relative
		top 100px

nav
	background azul
	height 30px
	
	.menu_boton
		left 5px
		padding-top 25px
		position relative
		top 3px
		width 42px
		
		.barra
			color gris_claro
			height 20px
			background gris_no_tan_oscuro
			padding 2px
			width 20px

	ul
		display none

.noticias
	background gris_claro
	.titulo
		font-size 30px
		margin 0
		padding-top 25px
		text-align center
	.ultima_hora
		background azul
		color white
		font-size 16px
		padding 8px
		padding-right 25px
		position absolute
		text-align center
		width 100px

	.noticias_recientes
		background white
		border-right 15px solid azul
		font-weight bold
		padding 8px
		text-align center
	.noticia
		background white
		margin 0 auto
		margin-bottom 50px
		margin-top 15px
		.titulo
			font-size 26px

		figure
			height 320px
			margin 0 auto
			width 539px
			img
				height 283px
				width 539px
			figcaption
				float right
				padding-top 15px
		
		.autor
			display inline
			padding 10px
			
		.contenido
			margin 0 auto
			margin-top 5px
			margin-bottom 15px
			text-align justify

		.leer_mas
			background azul
			display inline
			float right
			padding 10px
footer
	height 76px
	.clase 
		background gris_oscuro
		color  azul
		font-size 24px
		height 38px
		text-align center
	.copyright
		background azul
		color white
		font-size 16px
		height 38px
		text-align center
